<HTML>
<body>
<HEAD>
<font color="red">
<H1><CENTER>CURRICULUM VITAE</CENTER></H1>
</font>
<link href="{{ asset('bundles/angelescuangelescu/css/style.css') }}" rel="stylesheet" />
</HEAD>
<BODY>
<font color="white">
<img src="{{ asset('bundles/angelescuangelescu/images/Capture.JPG') }}" width="90" height="90"></BR></BR>
<LI><B>NUME:</B> Angelescu Dan Gabriel</LI></BR>
<LI><B>DATA NASTERI:</B> 9 August 1990</LI></BR>
<LI><B>ADRESA:</B> Str.Samuel Micu, Nr.8, Bl.21, Ap.9, Et.2 Alba-Iulia</LI></BR>
<LI><B>TELEFON:</B> 0748142666</LI></BR>
<LI><B>SEX:</B> Masculin</LI></BR>
<LI><B>EDUCATIE SI FORMARE:</B> Clasele 1-8 Sc.Vasile Goldis, 9-12 Liceul Apulum, profil Resurse Naturale si Protectia Mediului, Facultate De informatica, Master PABD </LI></BR>
<LI><B>CALIFICARE OBTINUTA:</B> Liceu: Tehnician Chimist de Laborator, Facultate: Informatica</LI></BR>
<LI><B>DISCIPLINE IMPORTANTE STUDIATE:</B> <li>Data Mining</li> <li>Calcul Neuronal</li> <li>Tehnologii WEB</li> <li>Sisteme de operare</li> <li>Tehnici avansate de retea</li> <li>SGABD</LI></BR>
<LI><B>NUMELE SI TIPUL INSTITUTIEI DE INVATAMANT ACTUALE:</B> Facultatea 1 Decembrie 1918: Programare Avansata si Baze de Date/ Zi</LI></BR>
<LI><B>LIMBI MATERNE:</B>Romana</LI></BR>
<LI><B>LIMBI STRAINE CUNOSCUTE:</B>Engleza</LI></BR>
<LI><B>COMPETENTE SI ABILITATI PROFESIONALE:</B>Profesionalism, Corectitudine, Seriozitate</LI></BR>
<LI><B>COMPETENTE SI APTITUDINI ORGANIZATORICE:</B>Ordonat, Atent la detalii, Eficienta, Calitate</LI></BR>
<LI><B>COMPETENTE SI APTITUDINI TEHNICE:</B>Hardware, Software</LI></BR>
<LI><B>PERMIS DE CONDUCERE:</B>Categoria B</LI></BR>
<LI><B>INFORMATII SUPLIMENTARE:</B>Punctual, Sportiv, Nefumatorm Ingrijit</LI></BR>
</FONT>
</BODY>
</HTML>
