<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Personal page</title>
<link href="{{ asset('bundles/soniapage/css/style.css') }}" rel="stylesheet" type="text/css"  />
</head>
<!--style='background: url("../../public/images/fundal.jpg")' -->
<body>
<table width="600" border="0" align="center" style="color:#000000">
  <tr>
  	<td>&nbsp;</td>
  </tr>
  <tr>
    <td><h1 align="center">Pagina mea personala</h1></td>
  </tr>
  <tr>
    <td><h2 align="left"><b>Motto:</b> <br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<em>"Fii tu schimbarea pe care vrei sa o vezi in lume!"</em> <br> <p align="right"><i>Mahatma Gandhi</i></p></h2></td>
  </tr>
  <tr>
    <td><p align="justify">
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Numele meu este Sonia. Cred ca sunt putine persoane care ma cunosc cu adevarat. Pot spune ca sunt un om simplu dar nu usor de inseles. Sunt o fire contradictorie, complicata si apreciez enorm oamenii care incearca sa ma inteleaga si nu se grabesc sa ma judece.
		</p>
		
		<p align="justify">
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Ma inspaimanta ideea de a fi neputincios. De a privi un lucru, o situatie, un moment fara a putea face nimic pentru a-l schimba. 
		</p>

		<p align="justify">
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Iubesc oamenii frumosi sufleteste. Ma inspira si ma fac sa cred ca daca vor, oamenii chiar pot fi buni. Nu am intalnit multi, dar aceia pe care i-am intalnit mi-au daruit putin din lumea lor, infrumusetand-o si pe a mea. Am descoperit astfel, ca inca mai sunt oameni care daruiesc pur si simplu, fara sa astepte ceva in schimb.
		</p>

		<p align="justify">
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Mi-am dat insa seama ca nu trebuie sa demonstrez nimic, nimanui. Ca important este sa fiu impacata eu cu mine, sa fiu constienta de lipsuri si sa incerc sa le acopar. 
		</p>

		<p align="justify">
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Am invatat ca parintii sunt cea mai mare comoara pe care ne-o da Dumnezeu. Ca indiferent cat gresim, cu ce gresim, in inima si in ochii parintilor nostri vom fi mereu cei dintai si singurii care conteaza.
		</p>
		
		<p align="justify">
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Iubesc de asemenea toate animalutele dar imi iubesc mai ales cei trei catei pe care ii am. Ei ma inveselesc ori de cate ori sunt trista, iubindu-ma neconditionat.
		</p>
		<p align="justify">
		</p>
	</td>
  </tr>
  <tr>
    <td>&nbsp; <center><div class="imgToto"></div></center></td>
  </tr>
</table>
</body>
</html>
