{% extends 'ACiunganBlogBundle::layout.html.twig' %}

{% block title %}About{% endblock%}

{% block body %}
    <header>
        <h1>Despre</h1>
    </header>
    <article>
        <p>Acest blog a fost creat de <a href="http://www.andreiciungan.ro">Andrei Ciungan</a> </p>
    </article>
{% endblock %}