

<IfModule mod_rewrite.c>
    RewriteEngine On
    
    # Rewrite all other queries to the front controller.
</IfModule>

<IfModule !mod_rewrite.c>
    <IfModule mod_alias.c>
        # RedirectTemp cannot be used instead
    </IfModule>
</IfModule>
